.bgindex{background:url('../img/bg.jpg') no-repeat;}
.navbar {background:none;}

.content-block-title{text-align:center;margin:35px 15px 70px;}
.content-block-inner{padding-top:20px;}

.pages, .page{background:none;}
.list-block {float:left;width:100%;}
.list-block ul{width:532px;}
.list-block li{width:266px;float: left;}
.list-block .item-link{margin: 10px;}
.btnagenda{background:url('../img/btn-agenda.svg') no-repeat;height:92px;}
.btnsanpedro{background:url('../img/btn-sanpedro.svg') no-repeat;height:92px;}
.btnhotel{background:url('../img/btn-hotel.svg') no-repeat;height:92px;}
.btnweather{background:url('../img/btn-weather.svg') no-repeat;height:92px;}
.btnchile{background:url('../img/btn-chile.svg') no-repeat;height:92px;}
.btndelegate{background:url('../img/btn-delegate.svg') no-repeat;height:92px;}
.footer-home{width:100%;text-align:center;margin-top:60px;float:left;}

.back{color:#FFF;background:url('../img/back-01.svg') no-repeat;width:80px;margin-top:32px;}
.navbar-inner, .toolbar-inner{padding:0 32px;}
.footer{position:fixed;bottom:0px;}

.tabs{overflow-y:auto;overflow-x:hidden;height:620px;margin-top:15px;}
#san-pedro{overflow-y:auto;overflow-x:hidden;height:666px;}
#cumbres-hotel{overflow-y:auto;overflow-x:hidden;height:665px;}
#delegates table td {font-size:12px;}

#agenda table,.san-pedro table,.cumbres-hotel table,.landscape table{width:100%;margin:0px 0px 18px 0px;color:#000;}

.coloragenda{background-color:#7E9BB0;}
#agenda{background-color:#C3DDEC;}
#agenda .tabs table th,td{text-align:left;padding-top:10px;}
#agenda .puntos{color:#7E9BB0;font-size:35px;line-height:4px;}

.colorsanpedro{background:#8E95A7;}
.colorhotel{background:#967B52;}
.colorwheather{background:#8DB3AE;}
.colorchileatglance{background:#8D98AC;}
.colordelegates{background:#74A2B9;}

.san-pedro{background-color:#c3c2ce;}
.cumbres-hotel{background-color:#d6a97a;}
.landscape{background-color:#b7dedb;}

#san-pedro table td{text-align:left;padding:0px 35px 0px 0px;}
#cumbres-hotel table{margin:0px 0px 18px 28px;}
#cumbres-hotel table td{text-align:left;padding:0px 35px 0px 0px;}
#landscape table td{text-align:left;padding:0px 20px 0px 0px;}
#landscape table td h1{margin:0px; font-size:24px;}

.custom-accordion {padding-left:0;padding-right:0;}
.custom-accordion .accordion-item-toggle {padding:0px;height:auto;cursor:pointer;}
.custom-accordion .accordion-item-toggle:active {/*background: rgba(0,0,0,0.15);*/}
.custom-accordion .accordion-item-toggle span {display:inline-block;margin-left:15px;}
.custom-accordion .accordion-item:last-child .accordion-item-toggle {border-bottom:none;}
.custom-accordion .icon-plus, .custom-accordion .icon-minus {display:inline-block;width:22px;height:22px;border:1px solid #000;border-radius:100%;line-height:20px;text-align:center;}
.custom-accordion .icon-minus {display:none;}
.custom-accordion .accordion-item-expanded .icon-minus {display:inline-block;}
.custom-accordion .accordion-item-expanded .icon-plus {display:none;}
.custom-accordion .accordion-item-content {padding:0px;}
