.bgindex{background:url('../img/bg.jpg') no-repeat;}
.bgindex .navbar{display:none;}
.content-block-title{text-align:center;margin:35px 15px 150px;}
.pages, .page{background:none;}
.list-block ul{background:none;border:0px solid;margin:0px auto;width:600px;}
.list-block li{width:300px;float: left;}

.list-block .item-link{margin: 10px;}
.btnagenda{background:url('../img/btn-agenda.png') no-repeat;height:104px;}
.btnsanpedro{background:url('../img/btn-sanpedro.png') no-repeat;height:104px;}
.btnhotel{background:url('../img/btn-hotel.png') no-repeat;height:104px;}
.btnweather{background:url('../img/btn-weather.png') no-repeat;height:104px;}

.agenda{background-color:#C3DDEC;}
.san-pedro{background-color:#c3c2ce;}
.cumbres-hotel{background-color:#d6a97a;}
.landscape{background-color:#b7dedb;}

.agenda table,.san-pedro table,.cumbres-hotel table,.landscape table{width:97%;margin:18px 0px 18px 28px;color:#000;}

#agenda table th,td{text-align:left;padding:10px 0px;}
#san-pedro table td{text-align:left;padding:0px 35px 0px 0px;}
#cumbres-hotel table{margin:0px 0px 18px 28px;}
#cumbres-hotel table td{text-align:left;padding:0px 35px 0px 0px;}
#landscape table td{text-align:left;padding:0px 20px 0px 0px;}
#landscape table td h1{margin:0px; font-size:24px;}
